{% extends 'base.html' %} {% load static %} {% block title %}Home - GitHub
Search{% endblock %} {% block content %}

<header class="flex justify-between items-center">
  <div class="logo text-2xl">devfinder</div>
  <div class="theme-switch flex items-center gap-4">
    <div class="theme-switch-text">LIGHT</div>
    <div class="theme-switch-img">
      <img src="{% static 'img/icon-sun.svg' %}" />
    </div>
  </div>
</header>

<section class="search-bar flex items-center rounded-lg p-6 justify-between">
  <div class="flex items-center">
    <img src="{% static 'img/icon-search.svg' %}" />
    <p>Search GitHub username...</p>
  </div>
  <button class="cursor-pointer">Search</button>
</section>

<section class="flex p-12 gap-8 rounded-lg profile">
  <img
    class="h-full user-propic"
    src="{% static 'img/user-profile-pic.png' %}"
  />
  <div class="flex flex-col gap-6 profile-text">
    <!-- Profile Overview -->
    <div class="flex justify-between profile-text-top">
      <div class="profile-text-top-left">
        <div class="text-preset-1 mb-[2px]">The Octocat</div>
        <div class="mb-6 text-preset-4">@octocat</div>
        <div class="text-preset-6 opacity-[70%]">This profile has no bio</div>
      </div>
      <div class="profile-text-top-right">Joined 25 Jan 2011</div>
    </div>

    <!-- Stats -->
    <div class="flex rounded-lg justify-between stats-container">
      <div class="flex flex-col stat">
        <div class="stat-title text-preset-7">Repos</div>
        <div class="stat-count text-preset-2">8</div>
      </div>

      <div class="flex flex-col stat">
        <div class="stat-title text-preset-7">Followers</div>
        <div class="stat-count text-preset-2">3938</div>
      </div>

      <div class="flex flex-col stat">
        <div class="stat-title text-preset-7">Following</div>
        <div class="stat-count text-preset-2">9</div>
      </div>
    </div>

    <!-- Social container -->
    <div class="grid gap-4 social-grid-container">
      <!-- Location -->
      <div class="flex gap-4 items-center grid-item cursor-pointer">
        <img src="{% static 'img/icon-location.svg'%}" />
        <div class="text-preset-6">San Francisco</div>
      </div>

      <!-- Twitter -->
      <div
        class="flex gap-4 items-center grid-item cursor-pointer opacity-[70%]"
      >
        <img src="{% static 'img/icon-twitter.svg'%}" />
        <div class="text-preset-6">Not Available</div>
      </div>

      <!-- Website -->
      <div class="flex gap-4 items-center grid-item cursor-pointer">
        <img src="{% static 'img/icon-website.svg'%}" />
        <div class="text-preset-6">https://github.blog</div>
      </div>

      <!-- GitHub -->
      <div class="flex gap-4 items-center grid-item cursor-pointer">
        <img src="{% static 'img/icon-company.svg'%}" />
        <div class="text-preset-6">@github</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
